extends layout

include mixins/sharedJade

block bodyScripts
  script(src='/main2.js', type='text/javascript')

block content

  form.form(role="form", class="myFavNoveltiesFormClass", id="myFavNoveltiesForm")
    .modal.fade(id='updateFormModal' tabindex='-1')
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title Edit your profile
          .modal-body

            .form-group
              div
                label.control-label(for="firstName") First Name:
              div
                input.form-control(id="firstName", name="firstName", placeholder="first name", maxlength="10")

            .form-group
              div
                label.control-label(for="lastName") Last Name:
              div
                input.form-control(id="lastName", name="lastName", placeholder="last name", maxlength="10")

            .form-group
              div
                label.control-label(for="city") City:
              div
                input.form-control(id="city", name="city", placeholder="city", maxlength="10")

            .form-group
              div
                label.control-label(for="state") State
              div
                +selectStateFormControl()

            .form-group
              div
                label.control-label(for="favNovelties") Select your favorite novelties!
              div
                +selectNoveltyFormControl()

            .col-xs-12(style="height:15px;")

            .form-group
              button(type="submit", class="btn btn-primary btn-md") Submit Form
              | &nbsp;&nbsp;&nbsp;&nbsp;
              button(class="btn btn-warning btn-md", data-dismiss="modal") Cancel
              
          


  .row.page-header
    .col-lg-12
      h2= pageHeader.header
        small &nbsp;#{pageHeader.miniHeader}

  .row
    .col-xs-12.col-sm-8

      div
        a.btn.btn-primary(href='/addFavView') Add your favorite!

      .col-xs-12(style="height:20px;")

      .row.list-group

        each doc in myFavNoveltiesCollection

          - var docID = doc._id
          - var theTime = doc.time
          - var fname= doc.firstName
          - var lname= doc.lastName
          - var fullName= fname + " " + lname
          - var city= doc.city
          - var state= doc.state
          - var address= ", " + city + ", " + state

          .col-xs-12.list-group-item

            h4= fullName
              small= address
                br
                small
                  +toISODate(theTime)

            .panel.panel-primary
              .panel-heading
                i some of my favorites...
                .pull-right
                  button(class="btn btn-default btn-xs", onclick="doModalEdit('#{docID}')") Edit
                  | &nbsp;&nbsp;&nbsp;&nbsp;
                  button(class="btn btn-warning btn-xs", onclick="deleteObject('#{docID}')") Delete

              .panel-body
                .row
                  .col-xs-12
                    each fav in doc.favNovelties
                      span.label.label-success= fav
                      | &nbsp; 



    .col-xs-12.col-sm-4
      p.lead= sideBlurb


